<h3>I'm index. Here are my examples</h3>
<table class="table">
    <caption>Example table</caption>
    <thead>
    <tr>
        <th>Example</th>
    </tr>
    </thead>
    <tbody>
    {{# each this}}
        <tr>
            <td>{{ this.example }}</td>
        </tr>
    {{/each}}
    </tbody>
</table>